name: CI

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node_version: [14, 16]
      fail-fast: false

    name: "Test: node-${{ matrix.node_version }}, ${{ matrix.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 6

      - name: Set node version to ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: "pnpm"

      - name: Install deps
        run: pnpm install

      - name: Build
        run: pnpm ci

      - name: Test
        run: pnpm test

      - name: Compared
        if: matrix.node_version == '16' && matrix.os == 'ubuntu-latest'
        uses: ./
        with:
          title: "compared report"
          token: "${{ secrets.GITHUB_TOKEN }}"
          old-paths: |
            ./sample/case1.json
            ./sample/case2.json
          new-paths: |
            ./sample/new.case1.json
            ./sample/new.case2.json
          fields: |
            fields
          cache-only: ${{ env.GITHUB_REF_NAME == 'main' }}

  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    name: "Lint: node-16, ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 6

      - name: Set node version to 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"

      - name: Install deps
        run: pnpm install

      - name: Check formatting
        run: pnpm prettier --check .
